<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='skeleton.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='normalize.css') }}">
    <title>Note</title>
</head>
<body>


<p> {{ getnote.title }}</p>
<p> {{ getnote.body }}</p>
<form action="/del" method="post">
    <button type="submit" value="{{ getnote.id }}" name="delbuttn">Delete note</button>
</form>
</body>
</html>
